<section class="prompt" data-link="{{permalink}}" id="prompt-{{id}}">
	<a href="#prompt-{{id}}" class="back-to-prompts">back</a>

	<h3 class="prompt-title">{{{title}}}</h3>

	<a href="http://reddit.com/{{permalink}}" target="_blank">
		<time datetime="{{dateFormat .}}">
			{{fromNow .}}
		</time>
	</a>
</section>