<article class="prompt" data-link="{{permalink}}" id="prompt-{{id}}">
	<a href="?r/{{subreddit}}" class="back-to-prompts">&#8592; back to prompts</a>

	<header class="prompt-header">
		<h2 class="story-author">
			<span class="h2-span">{{author}}</span>
		</h2>
		<span class="story-score">{{score}} points</span>
		<span class="story-reading-time">
			{{#if title}}{{readspeed selftext}}{{/if}}
			{{#if body}}{{readspeed body}}{{/if}}
			read
		</span>
	</header>

	{{#if title}}
	<a href="?r/{{subreddit}}/comments/{{id}}">
		<h3 class="prompt-title" title="{{{title}}}">{{{title}}}</h3>
	</a>
	{{/if}}

	{{#if link_title}}
	<a href="{{link_url}}{{id}}">
		<h3 class="prompt-title" title="{{{link_title}}}">{{{link_title}}}</h3>
	</a>
	{{/if}}

	<div class="post-body">
		{{{rendered_html}}}
	</div>

	<footer class="prompt-footer">
		<a href="http://reddit.com/r/{{subreddit}}/comments/{{id}}" class="read-on-reddit external-link just-viewing">Read on Reddit</a>
		<span class="just-viewing">&middot;</span>
		<span class="post-comments">{{num_comments}} comments</span>
		&middot;
		{{fromNow .}}
	</footer>
</article>