<article class="story" 
		{{#if gilded}}data-gilded="{{gilded}}"{{/if}}>
	<header>
		<h2 class="story-author">
			<span class="h2-span">{{author}}</span>
		</h2>
		<span class="story-score">{{score}} points</span>
		<span class="story-reading-time">{{readspeed rendered_text}} read</span>
	</header>
	
	{{{rendered_html}}}

	<footer>
		<a href="{{url}}" class="external-link">
			{{replies.data.children.length}} replies
		</a>
		&middot;
		{{fromNow .}}
	</footer>
</article>